<a href="https://colab.research.google.com/github/VishalK777/DSBDA/blob/DSBDA1/DSBDA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# subtask 1 - importing libraries
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# subtask 2 - Dataset url
# Name - COVID -19 Global Reports early March 2022
# URL - https://www.kaggle.com/danielfesalbon/covid-19-global-reports-early-march-2022
# local machine relative address - /covid_19_clean_complete_2022.csv/

In [5]:
#subtask 3 - Loading dataset
df = pd.read_csv("covid_19_clean_complete_2022.csv")
df.drop('Province/State', axis=1, inplace=True)
df.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [6]:
# subtask 4 - data preprocessing - detecting NaN values and using describe() function
df.isna().any()
df.describe()

Country/Region    False
Lat               False
Long              False
Date              False
Confirmed         False
Deaths            False
Recovered         False
Active            False
WHO Region        False
dtype: bool

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [7]:
# shape of dataset (dimensions)
df.shape

(49068, 9)

In [8]:
# subtask 5 - data formatting and normalization
df.dtypes

Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df['Country/Region'] = df['Country/Region'].astype('string')
df.dtypes

Country/Region            string
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [10]:
# subtask 6 - handling categorical values
# dropping the categorical variable column
# df['new_col'] = df['some_col'].map({'value_1': 1, 'value_2': 2})
df = df.drop(['WHO Region','Country/Region'], axis=1)
df.head()

        Lat       Long       Date  Confirmed  Deaths  Recovered  Active
0  33.93911  67.709953 2020-01-22          0       0          0       0
1  41.15330  20.168300 2020-01-22          0       0          0       0
2  28.03390   1.659600 2020-01-22          0       0          0       0
3  42.50630   1.521800 2020-01-22          0       0          0       0
4 -11.20270  17.873900 2020-01-22          0       0          0       0